
{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block head_extra %}
	{{ form.media}}
{% endblock head_extra %} 

{% block content %}

<form method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="row">
			<div class="col-3 ml-auto mt-3">
				<a href='{% url "novels:list" %}'><button type="button" class="btn btn-info">Cancel</button></a>
				<button type="submit" name="save" class="btn btn-info">Save</button>

			</div>
		</div>
	<div class="container mt-5 pt-5">
	<div class="row">
			<div class="col-4 mr-auto">
				<img src="{{ instance.image.url }}" id="blah" alt="my image" width="280" height="420">
				{{ form.image|as_crispy_field }}		
				<a href='{% url "novels:details" id=instance.id %}'><button type="button" class="btn btn-info mt-4">View as reader</button></a>
			</div>
			<div class="col-7 ml-auto">
				<div id="story">
					<div class="row mb-5">
						<div class="col-3">
							<h2><a href='#' onclick="return show('story','content');">Story Details</a></h2>
						</div>
						<div class="col-4">
							<h2><a href='#' onclick="return show('content','story');">Table of Content</a></h2>
						</div>
					</div>
					
				{{ form.title|as_crispy_field }}
				{{ form.description|as_crispy_field }}
				{{ form.tags|as_crispy_field }}
				{{ form.genre|as_crispy_field }}
				{{ form.audience|as_crispy_field }}
				{{ form.lenguage|as_crispy_field }}
				{{ form.copyringt|as_crispy_field }}
				{{ form.publish|as_crispy_field }}
				</div>
			
			
				<div id="content" style="display: none">
					<div class="row mb-5">
						<div class="col-3">
							<h2><a href='#' onclick="return show('story','content');">Story Details</a></h2>
						</div>
						<div class="col-4">
							<h2><a href='#' onclick="return show('content','story');">Table of Content</a></h2>
						</div>
					</div>
					<div class="row py-2 pl-2">
						<a href='{% url "chapters:create" id=instance.id %}'><button type="button" class="btn btn-info">+ New chapter</button></a>
					</div>
					<hr>
					{% for chapter in chapters %}
						<div class="col mr-auto">
						<h3><a href='{% url "chapters:update" id=chapter.id %}'>{{ chapter.title }}</a></h3>
						{% if not chapter.draft %}
							<h6>Published</h6>
						{% else %}
							<h6>Draft</h6>
						{% endif %}
						</div>
						<div class="col ml-auto" >
  							<div class="dropdown">											
								<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i></button>
								<div class="dropdown-menu">
									<a class="dropdown-item" href='{% url "chapters:details" id=chapter.id %}'>View as reader</a>	
      									
      								<div class="dropdown-divider"></div> 
      								<a class="dropdown-item" id="myBtn" href='{% url "chapters:delete" id=chapter.id %}'>Delete Chapter</a>
      								
					    		</div>
							</div>
						</div>			
						<hr>
					{% endfor %}

				</div>
			</div>
		
	</div>
	</div>
	
</form>

{% endblock content %}