


{% extends "base.html" %}
{% block content %}

<div class="container"> 
	<div class="row mt-5">
		<div class="col-3 mr-auto pt-5 pb-5">
			<h1>My Novels</h1>
		</div>
		<div class="col-4 ml-auto pt-5 pb-5">
			<a href='{% url "novels:create" %}' id="create_button"><button type="button" class="btn btn-primary btn-sm" style="font-size: 19px;"> + New Novel</button></a>
		</div>
	</div>
	<div class="row">
		<div id="all-novel">
			<div id="publish">
		
				<div class="row">
					<div class="col-3">
						<h3><a href='#' onclick="return show('publish','draft');">Publish</a></h3>
					</div>
					<div class="col-3">
						<h3><a href='#' onclick="return show('draft','publish');">Draft</a></h3>
					</div>
				</div>
			

			<hr>
			
			{% for novel in query_set %}
				{% if not novel.draft %}
				<div class="row mb-5 mt-5" >
						<div class="col-2">
							{% if novel.image %}
								<div class="novel_image"><img src="{{ novel.image.url }}" class="img-fluid" /></div>
							{% endif %}


						</div>
						<div class="col-3">
							<div class="novel_body ">
								
								<h2><a href="{% url 'novels:update_content' id=novel.id%}">{{ novel.title }}</a></h2>

								<h5>{{ novel.updated }}</h5></div>
								<div class="novel_text">
								<!-- <p>{{novel.get_markdown | truncatechars_html:200}}</p> -->
								
								</div>
						</div>
						<div class="col-5 ml-auto">
							<a href='{% url "chapters:create" id=novel.id %}' id="create_button"><button type="button" class="btn btn-primary btn-sm" style="font-size: 19px;"> Countinue writhing</button></a>
				
							<a href='{% url "novels:delete" id=novel.id %}' id="create_button"><button type="button" class="btn btn-primary btn-sm" style="font-size: 19px;"> Delete Novel</button></a>

						</div>
				</div>

				{% endif %}
			
			{% endfor %}
		</div>




			<div id="draft" style="display: none;">
				<div class="row">
					<div class="col-3">
						<h3><a href='#' onclick="return show('publish','draft');">Publish</a></button></h3>
					</div>
					<div class="col-3">
						<h3><a href='#' onclick="return show('draft','publish');">Draft</a></h3>
					</div>
				</div>

			<hr>
			{% for novel in query_set %}
				{% if novel.draft %}
				<div class="row mb-5 mt-5" >
						<div class="col-2">
							{% if novel.image %}
							<div class="novel_image"><img src="{{ novel.image.url }}" class="img-fluid" /></div>
							{% endif %}

						</div>
						<div class="col-4">
							<div class="novel_body ">
								<h2><a href="{% url 'novels:update_content' id=novel.id%}">{{ novel.title }}</a></h2>
								<h5>{{ novel.updated }}</h5>
								<div class="novel_text">
								<!-- <p>{{novel.get_markdown | truncatechars_html:200}}</p> -->
								
								</div>
							</div>
						</div>
						<div class="col-5 ml-auto">
							<a href='{% url "chapters:create" id=novel.id %}' id="create_button"><button type="button" class="btn btn-primary btn-sm" style="font-size: 19px;"> Countinue writhing</button></a>

							<a href='{% url "novels:delete" id=novel.id %}' id="create_button"><button type="button" class="btn btn-primary btn-sm" style="font-size: 19px;"> Delete Novel</button></a>

						</div>
				</div>
				{% endif %}

			{% endfor %}	
		</div>
		</div>
	</div>
</div>

{% endblock content %}